@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Tailwind not applying colors correctly on iOS */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}
